# *4th Class:*

In [1]:
import pandas as pd

In [2]:
o = pd.Series([4,3,2,1])
print(o)

0    4
1    3
2    2
3    1
dtype: int64

In [3]:
s = pd.Series([100,200,300,400])
print("Values: ",s.values)
print("Index: ",s.index)

Values:  [100 200 300 400]
Index:  RangeIndex(start=0, stop=4, step=1)

In [4]:
s = pd.Series([30,20,10,40,25,40,0],index = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
print(s)

Monday       30
Tuesday      20
Wednesday    10
Thursday     40
Friday       25
Saturday     40
Sunday        0
dtype: int64

In [5]:
sdata  ={"Sindh":3500,"Punjab":4500,"KPK":3000,"Balochistan":4000}
tax_by_state = pd.Series(sdata, index = ["Punjab","Sindh","KPK","Balochistan","GB"])
print(tax_by_state)
print("==============================")
print(pd.isnull(tax_by_state))

Punjab         4500.0
Sindh          3500.0
KPK            3000.0
Balochistan    4000.0
GB                NaN
dtype: float64
==============================
Punjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

In [6]:
tax_by_state.isnull()

Punjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

In [7]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0], 
               index = ['mon', 'tue', 'wed', 'thr','fri', 'sat', 'sun'])
print(sw)
sw.index = ["m", "t", "w", "t", "f", "s", "s"]
print(sw)

mon    20
tue    30
wed    20
thr    25
fri    30
sat    40
sun     0
dtype: int64
m    20
t    30
w    20
t    25
f    30
s    40
s     0
dtype: int64

In [8]:
s = pd.Series([20,30,40,50,60,70,80],
             index = ["Mon","Tue","Wed","Thurs","Fri","Sat","Sun"])
print(s)
s.index = ["M","T","W","T","F","S","S"]
print("=================================")
print(s)

Mon      20
Tue      30
Wed      40
Thurs    50
Fri      60
Sat      70
Sun      80
dtype: int64
=================================
M    20
T    30
W    40
T    50
F    60
S    70
S    80
dtype: int64

In [9]:
import numpy as np
a = np.array([2,3,4,5,6,7])
b = np.array(["a","b","c","d","e",'f'])
c = pd.Series(a,index=b)
print(c)

a    2
b    3
c    4
d    5
e    6
f    7
dtype: int32